body {
    min-height: 100vh;
    max-width: 960px;
    margin: auto;
    position: relative;
    display: table;
}

#content-wrap {
    min-height: 100vh;
    padding-bottom: 0;
}

header {
    width: 960px;
    height: 80px;
    background: slategray;
    position: fixed;
    border: 2px solid black;
    z-index: 20;
}


h1 {
    margin: 0px;
    padding: 20px;
    background: #4faaa5;
    color: white;
    float: left;
}

nav {
    position:relative;
    top: 30px;
    right: 30px;
    background: white;
    float: right;   
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    clear: both;
    content: " ";
    display: block;
}

main {
    width: 960px;
    border: 2px solid green;
    position: relative;
    top: 100px;
    z-index: 10;
}

#image {
    height: 200px;
    width: 200px;
    float: left;
    position: relative;
    left: 40px;
}

#paragraph {
    max-width: 700px;
    float: right;
    position: relative;
}

footer {
    text-align: center;
    width: 960px;
    border: 2px solid red;
    position: relative;
    bottom: 0px;
    height: 2.5em;  
}