body {
    background: whitesmoke;
    min-height: 100vh;
    position: relative;
    display: table;
    margin: auto;
}

#content-wrap {
    max-width: 960px;
    margin: auto;
    min-height: 100vh;
    padding-bottom: 0;
    margin-bottom: 2.5em;
}

#content-wrap::after {
    content: " ";
    clear: both;
    display: inline-block;
}


/* the white background for the navbar area */
header {
    width: 100vw;
    height: 90px;
    background: white;
    position: absolute;
    left: 0px;
    border-bottom: 2px solid lightgray;
    z-index: 20;
    margin-bottom: 20px;
}


/* parameters for the actual content of the navbar including name and links (to meet 960px criteria) */
#navbar {
    height: 90px;
    max-width: 960px;
    margin: auto;
}

/* styling the name in the header */
#name {
    height: 100%;
    margin: 0px;
    padding: 20px;
    background: #4faaa5;
    color: white;
    float: left;
    font-size: 36px;
}

/* the links in header */
nav {
    position:relative;
    top: 30px;
    background: white;
    float: right;   
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    clear: both;
    content: " ";
    display: block;
}

/* the white about me box that holds image and paragraph */
main {
    background: white;
    margin-bottom: 2.5em;
    width: 960px;
    border: 1px solid gainsboro;
    position: relative;
    top: 130px;
    z-index: 10;
}

#about {
    position: relative;
    color: #4faaa5;
    left: 20px;
}

#image {
    height: 200px;
    width: 200px;
    float: left;
    position: relative;
    left: 40px;
}

#paragraph {
    max-width: 700px;
    float: right;
    position: relative;
}

footer {
    background: #666666;
    color: white;
    text-align: center;
    width: 100vw;
    border-top: 8px solid #4faaa5;
    position: relative;
    bottom: 0px;
    height: 3.8em;  
}